@import "tailwindcss";
@plugin "daisyui";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-poppins), Arial, Helvetica, sans-serif;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html, body {
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

  @keyframes grow {
    from { height: 0; }
    to { height: 100%; }
  }
  .animate-grow {
    animation: grow 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }


.font-satoshi {
  font-family: 'Satoshi', sans-serif;
}

@keyframes diagonal-grow {
  from {
    transform: rotate(45deg) scaleY(0);
  }
  to {
    transform: rotate(45deg) scaleY(1);
  }
}

.animate-diagonal-grow {
  animation: diagonal-grow 1.2s forwards;
}
@keyframes diagonal-grow-reverse {
  from {
    transform: rotate(45deg) scaleY(1);
  }
  to {
    transform: rotate(45deg) scaleY(0);
  }
}
@keyframes diagonal-grow-reverse-top-left {
  from {
    transform: rotate(45deg) scaleY(1);
  }
  to {
    transform: rotate(45deg) scaleY(0);
  }
}


.origin-top-left {
  transform-origin: top left;
}
.animate-diagonal-grow-reverse {
  animation: diagonal-grow-reverse 0.6s forwards;
}


@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.animate-slide-in-right {
  animation: slide-in-right 1s cubic-bezier(0.4,0,0.2,1) forwards;
}